<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8">
<title>Home page</title>
</head>
<body>

<section class="banner d-flex justify-content-center align-item-center" >

<div class="text-center">

  <h1>Smart Connect Manager</h1>
  <p> Start collection your contacts in very smart way.we provide
      very efficient and smarter way of handling contact</p>
      
      <button class="btn btn-primary btn-lg text-white">Get Start</button>
</div>

</section>
</body>
</html>