.bg-primary{
	background: #009688 !important
}

.banner {
	width: 100%;
	height: 93vh;
	background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8)), url(../image/img1.jpg);
	background-size: cover;
	color: white;
}

#login .container #login-row #login-column #login-box {
  margin-top: 10px;
  max-width: 750px;
  height: 480px;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}
